@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(204, 203, 203);
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
.wrapper {
    position: absolute;
    width: 90vmin;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .container {
    background-color: #ffffff;
    padding: 50px 30px 80px 30px;
    border-radius: 8px;
    box-shadow: 0 30px 50px rgba(30, 21, 49, 0.3);
  }

textarea{
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    line-height: 28px;
    color: #0e101a;
    background-color: #fff;
}

.count{
    /* background-color: #000000; */
    width: 80%;
    padding: 20px;
    position: relative;
    transform: translate(-50% , -50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 20px 40px rgba(30, 21, 49, 0.4);
    border: none;
    outline: none
}
.count h5{
    font-size: 32px;
    /* background-color: black; */
    border: none;
    outline: none;
}

.count p {
    /* background-color: black; */
    border: none;
    outline: none;

}
