@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #42275a;
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    background: linear-gradient(to right, #734b6d, #42275a);
}

.container {
    margin: 130px;
    width: 90%;
    max-height: 100vh;
    max-width: 700px;
    position: relative;

}

.container h1 {
    font-weight: 600;
    font-size: 45px;
    color: #fff;
}

.container span {
    color: orange;
    border-bottom: 4px solid orange;
    padding-bottom: 7px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 10px;
}

.display img:hover {
    transform: scale(1.1);
}

.displayMessage {
    position: absolute;
    top: -100px;
    left: 100%;
    transform: translateX(-50%);
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.displayMessage.active {
    top: 0;
    opacity: 1;
}


.display img {
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

button {
    padding: 10px 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: #F10D36;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;

}

button img {
    height: 30px;
    color: #fff;

}