*{
    margin: 0;
    padding: 0;
    text-align: center;
    

}

h1{
    background-color: #58CE4A;
     color: #fff;
     height: 5rem;
     line-height: 5rem;
     
}

.choices{
    display: flex;
    margin-top: 5rem;
    /* align-items: center; */
    gap: 3rem;
    justify-content: center;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    filter: contrast(150%);
}

.choice:hover{
    background-color:  #BAE7F3;
    cursor: pointer;
    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score #computer-score{
  font-size: 4rem;
  
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    background-color: #DD2FF1;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}