@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #9A90F8;

}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit{
    padding: 10px 30px;
    color: #fff;
    background-color: #7e24a8d7;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.popup{
    height: 250px;
    width: 350px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%)  scale(0.1);
    text-align: center;
    visibility: hidden;
}

.open-popup{
    top: 50%;
    transform: translate(-50% , -50%)  scale(1);
    visibility: visible;
    transition: 1s;
  
}


.popup img{
    height: 70px;
    margin-top: -30px;
}

.popup h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.popup p{
    line-height: 20px;
    margin-bottom: 30px;
}

#popbtn{
    padding: 7px;
    width:  80%;
    background-color: #2bc237;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}




